<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD .//EM"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
 
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/vraptor4</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">cih</property>
        <property name="connection.password">cih</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
 
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
 
        <property name="connection.autocommit">true</property>
<!-- Pool c3p0 -->
<!-- 	<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->

<!-- 	<property name="c3p0.max_size" >100</property> -->
<!-- 	<property name="c3p0.min_size">0</property> -->
<!-- 	<property name="c3p0.acquire_increment">1</property> -->
<!-- 	<property name="c3p0.idle_test_period">300</property> -->
<!-- 	<property name="c3p0.max_statements">0</property> -->
<!-- 	<property name="c3p0.timeout">100</property> -->
        
        <mapping class="cih.projects.model.entity.User"/>
        
    </session-factory>
 
</hibernate-configuration>